
<%= form_with(model: [post, post.comments.build]) do |form| %>
<%
=begin%>

  <% if comment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>




<%
=end%>
  <div class="mb-3">
  
    <%= form.label :description, "Add a comment",
      class: "form-label"
    %>
    
    <%= form.text_field :description, 
      class: "form-control"
    %>
  </div>

  <div class="mb-3">
    <%= form.submit class: "btn btn-primary"
    %>
  </div>

<%end%>