

    <div class="card" id="<%= dom_id post %>" >
        <div class="card-header">
            <h4 class="card-title display-6">
                <%= post.headline %>
            </h4>
            <h6 class=" fs-6 card-subtitle mb-2 text-muted">
                <%= post.drophead %>
            </h6>
        </div>

        <div class="card-body">
            <p class="card-text">
                <%= post.body %>
            </p>
        </div>

        <div class="card-footer">
            <div class="d-flex justify-content-center gap-2">
                <small class="text-muted">
                    Posted by <%= post.user.email  %>
                </small>
                <small class="text-muted ">
                    <%= post.created_at.strftime("%B %d, %Y ")  %>
                </small>
            </div>
            <% if user_signed_in? %>
                
            <% if post.user_id == current_user.id || current_user.role.role == "admin" %>
                <div class="d-flex justify-content-center gap-2">
                    <%= link_to edit_post_path(post), class:"btn btn-warning p-1" do %>
                        <i class="bi bi-pencil-fill text-smaller m-0"></i>
                    <%end%>
                    <%= link_to post_path(post), class:"btn btn-success p-1" do %>
                        <i class="bi bi-chat-dots-fill text-smaller m-0"></i>
                    <%end%>
                    <%= button_to post,  method: :delete , class:"btn btn-danger p-1", 
                        turbo_data: { confirm: "Are you sure you want to delete this post?" } do %>
                        <i class="bi bi-trash-fill text-smaller m-0"></i>
                    <% end %>
                </div>
            <%end%>
        <% end %>

        </div>
    </div>