

<section class="container-fluid my-3">
<div class="col-12 col-md-6 mx-auto">

<%= form_with(model: resource, url: user_registration_path, local: true, data: { turbo: false }) do |f| %>

<div class="card text-start">
  
  <div class="card-header">
      <h4 class="card-title text-center display-3">Sign Up</h4>
  </div>

  <div class="card-body">
  
    <%= render "users/shared/error_messages", resource: resource %>

    <div class="mb-3">
      <%= f.label :email, class: "form-label" %>
      <%= f.email_field :email, class: "form-control",
        autofocus: true, 
        autocomplete: "email" %>
    </div>

  
    <div class="mb-3">
      <%= f.label :password, class: "form-label" %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, class: "form-control",
        autocomplete: "current-password" %>    
    </div>

  <div class="mb-3">
    <%= f.label :password_confirmation, class: "form-label" %>
    <%= f.password_field :password_confirmation, class: "form-control",
      autocomplete: "new-password" %>    
  </div>

  <%= f.hidden_field :role_id, value: Role.find_by(role: 'subscriber').id %>

  <div class="mb-5">
    <%= f.submit "Sign up", class:"btn btn-primary" %>
  </div>

<% end %>

<%= render "users/shared/links" %>
